@import 'bower_components/reset-css/_reset';

@mixin box-shadow($x, $y, $blur, $spread:"", $color) {
	-webkit-box-shadow: $x $y $blur #{$inset} $color;
	-moz-box-shadow: $x $y $blur #{$inset} $color;
	box-shadow: $x $y $blur #{$inset} $color;
}
@mixin bgc($bg-color) {
	background-color: $bg-color;
}
@mixin vertical-borders($border-top, $border-bottom) {
	border-top: $border-top;
	border-bottom: $border-bottom;
}

.spaceBetween {
	display: flex;
	justify-content: space-between;
}

.header {
	@extend .spaceBetween;
	align-items: center;
}
.top,
.footer {
	padding: 50px 0;
	font-size: 30px;
	text-align: center;
	border: 1px solid #000;
	margin-bottom: 30px;
}
.top {
	@include box-shadow(0, 1px, 5px, red);
}
.test-logo {
	max-width: 20%;
}
.test-menu--item {
	display: inline-block;
}
.test-menu--item + .test-menu--item {
	padding-left: 20px;
}
.test-menu {
	padding-right: 20px;
}
.test-section {
	@extend .spaceBetween;
}
.test-section--left, 
.test-section--right {
	display: inline-block;
	max-width: 15%;
	text-align: center;
}
.test-section--mid {
	display: inline-block;
	max-width: 55%;
	text-align: center;
	@include vertical-borders(1px solid red, 1px solid blue);
}
.footer {
	margin-top: 30px;
	@include bgc(#eee);
}